schemas/fiche.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Unique -->
    <xs:element name="fiches" type="Unique">
        <xs:unique name="idUniqueness">
            <xs:selector xpath="fiche" />
            <xs:field xpath="id" />
        </xs:unique>
    </xs:element>
    <xs:complexType name="Unique">
        <xs:sequence>
            <xs:element name="fiche" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <!-- ID unique de la fiche  -->
                        <xs:element name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="(AGRI|BAR|BAT|IND|RES|TRA)-(BA|CH|EC|EN|EQ|SE|TH|UT)-[0-9]*(-SE)?v[0-9]*[-][0-9]*"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Code -->
                        <xs:element name="code">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="(AGRI|BAR|BAT|IND|RES|TRA)[-](BA|CH|EC|EN|EQ|SE|TH|UT)[-][0-9]*([-]SE)?"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Nom -->
                        <xs:element name="nom">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="240"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Version au format XX.X -->
                        <xs:element name="version">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="\d*\.{1}\d*"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Date d'application -->
                        <xs:element name="date_debut">
                            <xs:simpleType>
                                <xs:restriction base="xs:date"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Date d'abrogation -->
                        <xs:element name="date_fin" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:date"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Secteur d'application -->
                        <xs:element name="secteur">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="AGRI"/>
                                    <xs:enumeration value="BAR"/>
                                    <xs:enumeration value="BAT"/>
                                    <xs:enumeration value="IND"/>
                                    <xs:enumeration value="RES"/>
                                    <xs:enumeration value="TRA"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Sous-secteur d'application -->
                        <xs:element name="sous_secteur">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Bâtiments"/>
                                    <xs:enumeration value="Chaleur et Froid"/>
                                    <xs:enumeration value="Eclairage"/>
                                    <xs:enumeration value="Enveloppe"/>
                                    <xs:enumeration value="Equipement"/>
                                    <xs:enumeration value="Services"/>
                                    <xs:enumeration value="Thermique"/>
                                    <xs:enumeration value="Utilités"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Durée de vie conventionnelle -->
                        <xs:element name="duree" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="0"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Url d'accès à la fiche -->
                        <xs:element name="url">
                            <xs:simpleType>
                                <xs:restriction base="xs:anyURI"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Liste des qualifications requises pour le professionnel assurant la mise en oeuvre de l'opération -->
                        <xs:element name="qualifications" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="FOO"/>
                                    <xs:enumeration value="BAR"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Champs d'application - Natures du bénéficiaire -->
                        <xs:element name="beneficiaire_natures" minOccurs="0" maxOccurs="2">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="PERSONNE_MORALE"/>
                                    <xs:enumeration value="PERSONNE_PHYSIQUE"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Zone d'application - Métropole -->
                        <xs:element name="metropole">
                            <xs:simpleType>
                                <xs:restriction base="xs:boolean"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Zone d'application - Outre mer -->
                        <xs:element name="outre_mer">
                            <xs:simpleType>
                                <xs:restriction base="xs:boolean"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Zone d'application - Maison -->
                        <xs:element name="maison" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:boolean"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Zone d'application - Appartement -->
                        <xs:element name="appartement" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:boolean"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Zone d'application - Immeuble -->
                        <xs:element name="immeuble" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:boolean"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Description au format markdown -->
                        <xs:element name="description" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:string"></xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <!-- Conditions -->
                        <xs:element ref="conditions" minOccurs="0" maxOccurs="1" />
                        <!-- Regles -->
                        <xs:element ref="regles" minOccurs="0" maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- Conditions -->
    <xs:element name="conditions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="condition" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
     <!-- Condition -->
    <xs:element name="condition">
        <xs:complexType>
            <xs:sequence>
                <!-- Description -->
                <xs:element name="description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="240"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <!-- Expression -->
                <xs:element name="expression">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="240"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
     <!-- Regles -->
    <xs:element name="regles">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="regle" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
     <!-- Regle -->
    <xs:element name="regle">
        <xs:complexType>
            <xs:sequence>
                <!-- Description -->
                <xs:element name="description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="240"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <!-- Expression -->
                <xs:element name="expression">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="240"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <!-- Conditions -->
                <xs:element ref="conditions" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
